<?xml version="1.0" encoding="utf-8"?>
<widget version="2.0.0" id="com.thatsfresh" xmlns="http://www.w3.org/ns/widgets">
    <name> That's Fresh Colombia
</name>
    <description> </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io"> Apache Cordova Team </author>
    <access origin="*" />
    <content src="index.html" />
    <preference value="DEBUG" name="loglevel" />
    <preference name="orientation" value="portrait" />
    <feature name="App">
        <param value="org.apache.cordova.App" name="android-package" />
    </feature>
    <icon src="icon.png" />
    <icon src="icons/ios/icon144.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/icon144.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon144.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/icon144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="img/splash.png" />
    <gap:splash src="img/splash.png" />
    <gap:splash src="img/splash.png" gap:platform="ios" width="640" height="1118" />
</widget>
